body{
    background-color: #e8e8e8;
    color: #2d49a6;
}

header{
    background-color: #ffd700;
    margin-top: 80px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-left: 110px;
}

nav{
    background-color: #008000;
    margin: 65px 55px 75px 105px;
}

section{
    background-color: #004500;
    /* aqui significa 15px na parte superior e inferior e
    30px na direta e na esquerda
    é um resumo de 15px 30px 15px 30px (sentido horário) */
    margin: 15px 30px;
    color: #fff;
}
footer{
    background-color: #850000;
    /* aqui é um resumo de 115px 115px 115px 115px (sentido horário) */
    margin: 115px;
}